body{
	font-family: Georgia, Arial, serif;
	color: #fff;
	background: #000;
}

a{
	color: #fff;
}

input{
	display: inline-block;

	box-sizing: border-box;
	margin: 0;
	padding: .5em .6em;

	font-size: 100%;
	font-family: "proxima-nova", sans-serif;
	line-height: normal;

	vertical-align: baseline;

	border: 1px solid #CCC;
	border-radius: 4px;
}

.menu-home {
	background-color: #98E22D;
}

.menu-episodes,
.menu-episodes ul {
	background-color: #AE81FF;
}

.menu-about {
	background-color: #66D9EF;
}

.menu-subscribe,
.menu-subscribe ul {
	background-color: #E6DB74;
}

.menu a:hover{
	background-color: #CC3F85;
	color: #FFF;
}

